@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0;
}

.icon {
    color: black;
}

a .text {
    color: #333; 
}

.navigation {
    position: relative;
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

ul {
    display: flex;
    width: 350px;
    padding: 0;
}

li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}

/* Move icon up when active */
li.active a .icon {
    transform: translateY(-35px);
}


li a .text {
    position: absolute;
    bottom: -25px; 
    left: 50%;
    transform: translateX(-50%);
    color: #222;
    font-weight: bold;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    transition: 0.5s;
    opacity: 0;
}

/* Move text up into the navbar when active */
li.active a .text {
    opacity: 1;
    bottom: 15px; 
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: turquoise;
    box-sizing: border-box;
    border-radius: 50%;
    border: 6px solid black;
    transition: 0.5s;
}

.indicator::before,
.indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.indicator::before {
    left: -22px;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 black;
}

.indicator::after {
    right: -22px;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 black;
}

li:nth-child(1).active ~ .indicator { transform: translateX(0px); }
li:nth-child(2).active ~ .indicator { transform: translateX(70px); }
li:nth-child(3).active ~ .indicator { transform: translateX(140px); }
li:nth-child(4).active ~ .indicator { transform: translateX(210px); }
li:nth-child(5).active ~ .indicator { transform: translateX(280px); }
